{% extends 'main/base.html' %}

{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}

<br>
<div class="row">
    <div class="col-md-5">
        <h5>clients</h5>
        <hr>
        <div class="card card-body">
            <a href="{% url 'ajout-client' %}" class="btn btn-primary btn-sm btn-block">Ajouter un client</a>
            <table class="table table-sm">
                <tr>
                    <th>ID</th>
                    <th>Noms</th>
                    <th>Telephone</th>
                    <th>Ville</th>
                    <th>Details</th>
                </tr>
                {% for cl in client %}
                <tr>
                    
                    <td>{{cl.id}}</td>
                    <td>{{cl.noms}}</td>
                    <td>{{cl.telephone}}</td>
                    <td>{{cl.ville}}</td>
                    <td><a href="{% url 'detail-client' cl.id %}" class="badge btn btn-primary btn-sm">Detail</a></td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <h5>Les commandes</h5>
        <hr>
        <div class="card card-body">
            <a href="{% url 'ajout-cmde' %}" class="btn btn-primary btn-block btn-sm">Ajouter une commade</a>
            <table class="table table-sm">
                <tr>
                    <th>Clients</th>
                    <th>Produits</th>
                    <th>Date</th>
                    <th>Qtes</th>
                    <th>Paye</th>
                    <th>Status</th>
                    
                    
                </tr>
                {% for cmd in commande %}
                <tr>
                    
                    <td>{{cmd.client}}</td>
                    <td>{{cmd.produit}}</td>
                    <td>{{cmd.date_cmde}}</td>
                    <td class="text-info">{{cmd.quantite}}</td>
                <td>
                    {% if cmd.paye %}
                    <p class="text-info">Oui</p>
                    {% else %}
                    <p class="text-danger">Non</p>
                    {% endif %}
                </td>
                    <td>{{cmd.status}}</td>
                    
                    
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}