{% extends 'main/base.html' %}

{% load static %}

{% block title %}list_produit{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Produit</h5>
                <hr>
                <a href="{% url 'ajout-produit' %}" class="btn btn-outline-info btn-sm btn-block">Ajouter le produit</a>
                <a href="" class="btn btn-outline-danger btn-sm btn-block mb-2">Supprimer les produits</a>
            </div>
        </div>
    
        
    
        <div class="col-md">
            <div class="card card-body">
                <h5>Total des produits</h5>
                <hr>
                <h1 class="text-center" style="padding: 10px;">{{produit_total}}</h1>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="container">
    <div class="card card-body">
        
        <table class="table table-sm">
            <tr>
                <th></th>
                <th>Code</th>
                <th>Nom</th>
                <th>Stocke</th>
                <th>Prix_unit</th>
                
                <th>Mise a jours</th>
            </tr>
            {% for pr in produit %}
            <tr>
                <td><input type="checkbox"></td>
                <td class="text-info">{{pr.code}}</td>
                <td class="text-info">{{pr.nom}}</td>
                <td class="text-info">{{pr.stock}}</td>
                <td class="text-info">{{pr.prix}}</td>
                

                <th><a href="{% url 'modifier-produit' pr.id %}" class="badge btn btn-primary btn-sm">Modifier</a> <a href="{% url 'supprimer-produit' pr.id %}" class="badge btn btn-danger btn-sm">Supprimer</a></th>
                
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}