{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Supprimer_produit{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <div class="card card-body">
                <h1>Vouslez-vous Supprimer cette commande</h1>
                <form action="{% url 'supprimer-produit' items.id %}" method="post">
                    {% csrf_token %}
                    <a href="{% url 'accueil' %}" class="btn btn-success ">Non</a>
                    <button type="submit" class="btn btn-danger ">Oui</button>
                </form>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}