{% extends 'main/base.html' %}

{% load static %}

{% block title %}Detail_client{% endblock %}

{% block content %}


<hr>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>client</h5>
            <hr>
            <a href="{% url 'facture' %}" class="btn btn-outline-info btn-sm btn-block">Facture du client</a>
            <a href="" class="btn btn-outline-danger btn-sm btn-block mb-2">Supprimer les commandes</a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Informations</h5>
            <hr>
            <p>Nom: {{client.noms}}</p>
            <p>Telephone: {{client.telephone}}</p>
           
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Total des commandes</h5>
            <hr>
            <h1 class="text-center" style="padding: 10px;">{{commande_total}}</h1>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="">
                <button class="btn btn-primary" type="submit">filtre</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Produit</th>
                    <th>Date_cmde</th>
                    <th>Qte</th>
                    <th>paye</th>
                    <th>Statuts</th>
                    <th>Mise a jours</th>
                </tr>
                {% for commande in commande %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{commande.produit}}</td>
                    <td>{{commande.date_cmde}}</td>
                    <td>{{commande.quantite}}</td>
                    <td>
                        {% if commande.paye %}
                        <h6 class="text-primary">Oui</h6>
                        {% else %}
                        <h6 class="text-danger">Non</h6>
                        {% endif %}

                    </td>
                    <td>{{commande.status}}</td>
                    <td><a href="{% url 'modifier-cmde' commande.id %}" class="btn btn-primary btn-sm">Modifier</a> <a href="{% url 'supprimer-cmde' commande.id %}" class="btn btn-danger btn-sm">Supprimer</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}